* {
  padding: 0;
  margin: 0;
}

#game {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

#question {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#block {
  width: 50px;
  height: 100vh;
  background-color: black;
  position: relative;
  left: 100vw;
  animation: block 2s infinite linear;
}

.hole {
  width: 50px;
  height: 150px;
  position: absolute;
  left: 0;
}

.passable {
  background-color: white;
}

.non-passable {
  background-color: gray;
}

.answer {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 50px;
}

#character {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 200px;
  left: 50px;
  border-radius: 50%;
}

@keyframes block {
  0% { left: 100vw; }
  100% { left: -50px; }
}
