* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: white;
}

#question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#block {
  width: 50px;
  height: 100vh;
  background-color: black;
  position: absolute;
  right: 0;
  animation: block 3s infinite linear;
}

@keyframes block {
  0% {
    right: -50px;
  }
  100% {
    right: 100vw;
  }
}

.hole {
  width: 50px;
  height: 150px;
  background-color: white;
  position: absolute;
}

.passable {
  background-color: white;
}

.non-passable {
  background-color: white;
}

.answer {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

#character {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  left: 50px;
  top: 200px;
  border-radius: 50%;
}
